#set($layout="/admin/layout/layout-admin.vm")
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal"" id="brandForm">
                <div class="form-group">
                    <label for="brandSearch" class="col-sm-3 control-label">Brand</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="brandSearch" name="brandSearch" onchange="findSearchModels(this)">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal"">
                <div class="form-group" id="modelForm">
                    <label for="modelSearch" class="col-sm-3 control-label">Model</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="modelSearch" name="modelSearch">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="item-list">
    <div>
        <div class="row" style="text-align: center;">
            <a href="#" @click="search" class="btn btn-primary">Search</a>
            &nbsp;
            <a href="#" @click="addItem" class="btn btn-primary" data-toggle="modal" data-target="#itemFormModal">Add</a>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>＃</th>
                        <th>Item</th>
                        <th>Brand/Model</th>
                        <th>Unit price/Discount price</th>
                        <th>Stock</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
               <tbody>
                   <tr v-for="(item, index) in items">
                       <td>{{(pagination.currentPage - 1) * pagination.size + 1 + index }}</td>
                       <td>{{item.itemName}}</td>
                       <td>{{item.brandName}}/{{item.modelName}}</td>
                       <td>{{item.unitPrice}}/{{item.discountPrice}}</td>
                       <td>{{item.stock}}</td>
                       <td>{{item.state}}</td>
                       <td>
                           <a href="#" @click="editItem" data-toggle="modal" data-target="#itemFormModal" > <span :id="item.itemId" title="Edit item" class="glyphicon glyphicon-edit"></span></a>
                       </td>
                   </tr>
               </tbody>
               <tfoot>
                   <tr>
                       <td colspan="7">
                           <nav aria-label="Page navigation">
                               <ul class="pagination">
                                   <li v-if="pagination.currentPage > 1">
                                       <a href="#" aria-label="Previous" @click="previousPage">
                                           <span aria-hidden="true">&laquo;</span>
                                       </a>
                                   </li>

                                   <template v-for="pageNum in pageNums">
                                       <li class="active" v-if="pageNum == pagination.currentPage"><a href="#">{{pageNum}}</a></li>
                                       <li v-else><a href="#" @click="queryCurrentPage">{{pageNum}}</a></li>
                                   </template>

                                   <li v-if="pagination.currentPage < pagination.totalPage">
                                       <a href="#" aria-label="Next" @click="nextPage">
                                           <span aria-hidden="true">&raquo;</span>
                                       </a>
                                   </li>
                                   <li>
                                       <a aria-label="Total">
                                           <span aria-hidden="true">Total: {{pagination.totalPage}}</span>
                                       </a>
                                   </li>
                               </ul>
                           </nav>
                       </td>
                   </tr>
               </tfoot>
            </table>

            <div class="modal fade" tabindex="-1" role="dialog" id="itemFormModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Item</h4>
                        </div>
                        <form enctype="multipart/form-data" id="itemForm">
                        <div class="modal-body">

                            <input type="hidden" v-model="itemForm.itemId" name="itemId">
                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <select class="form-control" v-model="itemForm.brand" id="brand" name="brand" onchange="findModels(this)"></select>
                            </div>

                            <div class="form-group">
                                <label for="model">Model</label>
                                <select class="form-control" v-model="itemForm.model" id="model" name="model"></select>
                            </div>

                            <div class="form-group">
                                <label for="itemName">Item name</label>
                                <input type="text" class="form-control" v-model.trim="itemForm.itemName" id="itemName" name="itemName" maxlength="50">
                            </div>

                            <div class="form-group">
                                <label for="unitPrice">Unit price</label>
                                <input type="number" class="form-control" v-model.number="itemForm.unitPrice" id="unitPrice" name="unitPrice" maxlength="10">
                            </div>

                            <div class="form-group">
                                <label for="discountPrice">Discount price</label>
                                <input type="number" class="form-control" v-model.number="itemForm.discountPrice" id="discountPrice" name="discountPrice" maxlength="10">
                            </div>

                            <div class="form-group">
                                <label for="bigImage">Detail image</label>
                                <input type="file" class="form-control" accept="image/png,image/jpg" id="itemDetailImage" name="itemDetailImage"  maxlength="30">
                            </div>

                            <div class="form-group">
                                <label for="smallImage">List image</label>
                                <input type="file" class="form-control" accept="image/png,image/gif" id="itemListImage" name="itemListImage"  maxlength="20">
                            </div>

                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <input type="number" class="form-control" v-model.number="itemForm.stock" max="10000" min="0" id="stock" name="stock" maxlength="10">
                            </div>

                            <div class="form-group">
                                <label for="state">State</label>
                                <select class="form-control" v-model="itemForm.state" name="state" id="state">
                                    <option>active</option>
                                    <option>inactive</option>
                                    <option>new</option>
                                    <option>discount</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" @click="saveItem" class="btn btn-primary">Save</button>
                        </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>

    </div>
</div>
<script src="/js/item-list.js"></script>