<div class="container">
    <div class="select-brand">
        <div class="select-title">
            <span>Select brand</span>
        </div>
        <hr style="border : 1px dashed;" />
        <div class="select-body">
            <div class="row" id="brand-row">
               #foreach($item in $brands)
                   #if($item.itemTypeId == $selectedBrand)
                       <div class="col-md-2 select-item">
                           <span><a class="btn btn-info btn-lg btn-block active" href="/client/items?brandId=${item.itemTypeId}" role="button" id="${item.itemTypeId}" name="itemBrand">${item.name}</a></span>
                       </div>
                   #else
                       <div class="col-md-2 select-item">
                           <span><a class="btn btn-default btn-lg btn-block" href="/client/items?brandId=${item.itemTypeId}" role="button" id="${item.itemTypeId}" name="itemBrand">${item.name}</a></span>
                       </div>
                   #end

               #end
            </div>
        </div>
        <hr>
    </div>
    <div class="select-model">
        <div class="select-title">
            <span>Select model</span>
        </div>
        <hr style="border : 1px dashed;" />
        <div class="select-body">
            <div class="row">
                #foreach($item in $models)
                    #if($item.itemTypeId == $selectedModel)
                        <div class="col-md-2 select-item">
                            <span><a class="btn btn-info btn-lg btn-block active" href="/client/items?modelId=${item.itemTypeId}" role="button" id="${item.itemTypeId}" name="itemModel" >${item.name}</a></span>
                        </div>
                    #else
                        <div class="col-md-2 select-item">
                            <span><a class="btn btn-default btn-lg btn-block" href="/client/items?modelId=${item.itemTypeId}" role="button" id="${item.itemTypeId}" name="itemModel" >${item.name}</a></span>
                        </div>
                    #end

                #end

            </div>
        </div>
        <hr>
    </div>
    <div class="select-repair">
        <div class="select-title">
            <span>Select repair</span>
        </div>
        <hr style="border : 1px dashed;" />
        <div class="select-body">
            <div class="row">
                #foreach($item in $repairs)
                    <div class="col-md-3" style="padding: 3px;">
                        <a href="/client/items/${item.itemId}">
                            <img src="${item.smallImage}" class="img-thumbnail">
                            <p class="item-name">${item.itemName}</p>
                        </a>
                    </div>
                #end
            </div>
        </div>
        <hr>
    </div>

</div>

<script src="/js/item-list.js"></script>