<div id="item-detail-page">
    <div>
        <div class="container">
            <div class="item-navigator">
                <a href="/">Home</a> &nbsp;&gt;&nbsp; <a @click="jumpToSelectService" href="#"> {{item.brandName}}</a> &nbsp;&gt;&nbsp; {{item.itemName}}
            </div>
            <div id="item-info">
                <div class="item-image">
                    <img v-bind:src="item.itemDetailImage" class="img-responsive"/>
                </div>
                <div class="item-detail">
                    <h1>{{item.itemName}}</h1>
                    <p style="font-size:40px">${currency}&nbsp;{{item.unitPrice}}</p>
                    <div v-if="item.stock == 0">
                        <span style="color: red; font-size: larger;">Out of stock</span>
                    </div>

                    <div style="width: 100%" class="item-description"><p style="margin-top: 20px;">{{item.description}}</p></div>

                </div>
            </div>
            <hr>

        </div>
        <div class="container">
            <div class="item-services">
                <hr>
                <h2 style="text-align: center;padding-bottom: 18px;">Choose your service</h2>

                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#waitTab">WHILE YOU WAIT</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#mailTab">EXPRESS MAIL</a></li>
                </ul>
                <div class="tab-content">
                    <div id="waitTab" class="tab-pane fade in active">
                        <h2>While you wait, West End</h2>
                        <h4>Main Office WestEnd</h4>
                        <p>Extra Mobile</p>
                        <p>55 Rathbone place</p>
                        <p>London, W1T 1JS</p>
                        <p>TEL: 02074360545</p>
                        <br>
                        <h4>Second Office (city Monday to Friday only) </h4>
                        <p>Tim-Mobile</p>
                        <p>1st floor east</p>
                        <p>35-37 Ludgate Hill</p>
                        <p>London</p>
                        <p>EC4M 7JM</p>
                        <p>TEL: 07787707788</p>

                        <br>
                        <p>You’ll be enjoy the fast and excellent repair service.</p>
                        <br>
                        <p>Bring your damaged mobile phones or tablets into our shop in central London and we’ll have it repaired within 30 minutes. Meanwhile, you can shopping around in central london.Use the calendar below to book the time and date that works best for you or just give us a call, we will arrange the rest.</p>
                        <br>
                        <h4>Shop open time:</h4>
                        <p>Monday to Friday: 9:30am ---6:30pm</p>
                        <p>Saturday: 9:30am ---6:00pm (only main office)</p>
                        <p>Sunday: by appointment only</p>


                        <h3 style="padding-top: 20px">Select the day and time for your appointment</h3>

                        <div class="appointment-form">
                            <form id="appointmentForm" action="/client/book" method="post">

                                <div class="form-group" v-bind:class="{'has-error': hasErrorDate}">
                                    <label for="bookDate">Date:</label>
                                    <input type="text" v-model="bookDate" class="form-control datepicker"  id="bookDate" name="bookDate"/>
                                </div>
                                <div class="form-group" v-bind:class="{'has-error': hasErrorTime}">
                                    <label for="bookTime">Time:</label>
                                    <input type="text" v-model="bookTime" class="form-control timepicker" id="bookTime" name="bookTime"/>
                                </div>
                                <a id="btnBook" v-on:click="bookAppointment" class="btn btn-primary btn-lg">BOOK AN APPOINTMENT NOW</a>
                            </form>

                        </div>
                    </div>

                    <div id="mailTab" class="tab-pane fade">
                        <h1 style="text-align: center">Express mail</h1>
                        <p>We get it, our Express mail service is simply one of the most convenient ways to have your phones or tablets repaired when you can’t make it to our location.
                        </p>
                        <p>The process is simple. You send us your damaged phones or tablets in a padded envelope via Royal Mail Special Delivery. Once we receive it, we’ll fix it right up and have it in the post for you same day. With next day delivery, you’ll be having your working phones or tablets in just a couple of days! Order this service below and we’ll send you the complete mailing instructions straightaway.</p>
                        <div class="cart-input-form">
                            <label for="quantity">Quantity</label>
                            <input type="text" name="quantity" id="quantity" maxlength="2" />

                            <a  @click="addCartItem" id="btnAddCartItem" class="btn btn-primary">ADD TO CART</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<input type="hidden" id="itemId" value="${itemId}">

<script src="/js/item-detail.js"></script>

