#set($layout="admin/layout/layout-admin.vm")

<div id="order-list">
    <table class="search-condition-table">
        <tr>
            <td>
                <label for="orderId" >Order No.</label>
            </td>
            <td>
                <input type="text" class="form-control" name="orderId" v-model="searchConditions.orderId"/>
            </td>
            <td>
                <label for="orderDate">Order Date.</label>
            </td>
            <td>
                <input type="text" class="form-control" name="orderDateFrom" id="orderDateFrom" data-date-format="dd-mm-yyyy" readonly/>
            </td>
            <td>
                <label for="orderDate">&nbsp;~ &nbsp;</label>
            </td>
            <td>
                <input type="text" class="form-control" name="orderDateTo" id="orderDateTo" data-date-format="dd-mm-yyyy" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="orderId" >State</label>
            </td>
            <td>
                <select class="form-control" v-model="searchConditions.state">
                    <option>Appointment</option>
                    <option>Created</option>
                    <option>Paid</option>
                    <option>Repairing</option>
                    <option>Over</option>
                </select>
            </td>
        </tr>
    </table>


    <div class="row" style="text-align: center;">
        <a href="#" class="btn btn-primary" @click="search">Search</a>
    </div>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>＃</th>
                <th>Order No.</th>
                <th>Username</th>
                <th>Datetime</th>
                <th>Pay date</th>
                <th>Total Amount</th>
                <th>State</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
       <tbody>
           <tr v-for="(item, index)  in orders">
               <td>{{(pagination.currentPage - 1) * pagination.size + 1 + index }}</td>
               <td>{{item.orderId}}</td>
               <td>{{item.userName}}</td>
               <td>{{item.orderDatetime}}</td>
               <td>{{item.payDate}}</td>
               <td>{{item.totalAmount}}</td>
               <td>{{item.state}}</td>
               <td>{{item.comment}}</td>
               <td>
                   <a href="#" @click="editItem" data-toggle="modal" > <span :id="item.orderId" title="Edit order" class="glyphicon glyphicon-edit"></span></a>
                   &nbsp;
                   <a href="#" @click="showDetail" data-toggle="modal" data-target="#editOrderDetailModal" > <span :id="item.orderId" title="Show order detail" class="glyphicon glyphicon-th-list"></span></a>
                   &nbsp;&nbsp;&nbsp;
                   <a href="#" @click="deleteItem"> <span :id="item.orderId" title="Delete order" class="glyphicon glyphicon-trash"></span></a>
               </td>

           </tr>
       </tbody>
       <tfoot>
           <tr>
               <td colspan="9">
                   <nav aria-label="Page navigation">
                       <ul class="pagination">
                           <li v-if="pagination.currentPage > 1">
                               <a href="#" aria-label="Previous" @click="previousPage">
                                   <span aria-hidden="true">&laquo;</span>
                               </a>
                           </li>

                           <template v-for="pageNum in pageNums">
                               <li class="active" v-if="pageNum == pagination.currentPage"><a href="#">{{pageNum}}</a></li>
                               <li v-else><a href="#" @click="queryCurrentPage">{{pageNum}}</a></li>
                           </template>

                           <li v-if="pagination.currentPage < pagination.totalPage">
                               <a href="#" aria-label="Next" @click="nextPage">
                                   <span aria-hidden="true">&raquo;</span>
                               </a>
                           </li>
                           <li>
                               <a aria-label="Total">
                                   <span aria-hidden="true">Total: {{pagination.totalPage}}</span>
                               </a>
                           </li>
                       </ul>
                   </nav>
               </td>
           </tr>
       </tfoot>
    </table>

</div>


    <div class="modal fade" tabindex="-1" role="dialog" id="editOrderModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Order</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="payDate">Pay date</label>
                            <input type="text" class="form-control" id="payDate" name="payDate"  data-date-format="dd-mm-yyyy" readonly></input>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" v-model="orderForm.state">
                                <option>Appointment</option>
                                <option>Created</option>
                                <option>Paid</option>
                                <option>Repairing</option>
                                <option>Over</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="shipAddress">Ship address</label>
                            <textarea class="form-control input-lg" rows="3" v-model="orderForm.shipAddress"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea class="form-control input-lg" rows="5" v-model="orderForm.comment"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button"  @click="updateItem" class="btn btn-primary">Save</button>
                    <button type="button"  @click="emailToCustomer" class="btn btn-primary">Save & Email To Customer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" tabindex="-1" role="dialog" id="editOrderDetailModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Order</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>＃</th>
                            <th>Model</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Order price</th>
                            <th>Unit price</th>
                            <th>Discount price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index)  in orderDetails">
                            <td>{{index+1}}</td>
                            <td>{{item.modelName}}</td>
                            <td>{{item.itemName}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.orderPrice}}</td>
                            <td>{{item.unitPrice}}</td>
                            <td>{{item.discountPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<script src="/js/order-list.js">
