#set($layout="admin/layout/layout-admin.vm")

<div class="row">
    <div class="col-md-6">
        <div class="form-horizontal"">
            <div class="form-group">
                <label for="bookDateQuery" class="col-sm-3 control-label">Book date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="bookDateQuery" name="bookDateQuery" data-date-format="dd-mm-yyyy" readonly></input>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal"">
            <div class="form-group">
                <label for="stateQuery" class="col-sm-3 control-label">State</label>
                <div class="col-sm-8">
                    <select class="form-control" id="stateQuery">
                        <option>Pending</option>
                        <option>Customer confirming</option>
                        <option>Confirmed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="appointmentList">

    <div>

        <div class="row" style="text-align: center;">
            <a href="#" class="btn btn-primary" @click="search">Search</a>
        </div>

        <div class="table-responsive">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>＃</th>
                        <th>Book date</th>
                        <th>Book time</th>
                        <th>Item</th>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in appointments">
                        <td>{{(pagination.currentPage - 1) * pagination.size + 1 + index }}</td>
                        <td>{{item.bookDate}}</td>
                        <td>{{item.bookTime}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.state}}</td>
                        <td>
                            <a href="#" @click="editItem" data-toggle="modal" data-target="#editAppointmentModal" > <span :id="item.id" title="Edit appointment" class="glyphicon glyphicon-edit"></span></a>
                            &nbsp;&nbsp;&nbsp;
                            <a href="#" @click="deleteItem"> <span :id="item.id" title="Delete appointment" class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <td colspan="8">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li v-if="pagination.currentPage > 1">
                                        <a href="#" aria-label="Previous" @click="previousPage">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <template v-for="pageNum in pageNums">
                                        <li class="active" v-if="pageNum == pagination.currentPage"><a href="#">{{pageNum}}</a></li>
                                        <li v-else><a href="#" @click="queryCurrentPage">{{pageNum}}</a></li>
                                    </template>

                                    <li v-if="pagination.currentPage < pagination.totalPage">
                                        <a href="#" aria-label="Next" @click="nextPage">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a aria-label="Total">
                                            <span aria-hidden="true">Total: {{pagination.totalPage}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <div class="modal fade" tabindex="-1" role="dialog" id="editAppointmentModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Appointment</h4>
                        </div>
                        <div class="modal-body">
                            <form id="appointmentForm">
                                <div class="form-group">
                                    <label for="bookDate">Date</label>
                                    <input type="text" class="form-control" v-model="bookDate" id="bookDate" name="bookDate" data-date-format="dd-mm-yyyy" readonly></input>
                                </div>
                                <div class="form-group">
                                    <label for="bookTime">Time</label>
                                    <input type="text" v-model="bookTime" class="form-control timepicker" id="bookTime" data-date-format="hh:ii" placeholder="Appointment time" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <select class="form-control" id="state" v-model="state">
                                        <option>Pending</option>
                                        <option>Customer confirming</option>
                                        <option>Confirmed</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control input-lg" rows=5 name="comment" v-model="comment"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button"  @click="updateItem" class="btn btn-primary">Save</button>
                            <button type="button"  @click="confirmWithCustomer" class="btn btn-primary">Confirm with customer</button>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>


    </div>

</div>


<script src="/js/appointment-list.js"></script>