#set($layout="/admin/layout/layout-admin.vm")

<table class="search-condition-table">
    <tr>
        <td><label for="emailSearch" class="control-label">Email</label></td>
        <td><input type="email" class="form-control" name="emailSearch" id="emailSearch"></td>
        <td><label for="firstNameSearch" class="control-label">Firstname</label></td>
        <td><input type="text" class="form-control" id="firstNameSearch"></td>
    </tr>
    <tr>
        <td><label for="stateSearch" class="control-label">state</label></td>
        <td>
            <select class="form-control" id="stateSearch">
                <option>Active</option>
                <option>Pending</option>
                <option>Shielded</option>
             </select>
        </td>
    </tr>
</table>
<div id="user-list">

<div>
    <div class="row" style="text-align: center;">
        <a href="#" @click="search" class="btn btn-primary">Search</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Role</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in users">
                    <td>{{(pagination.currentPage - 1) * pagination.size + 1 + index }}</td>
                    <td>{{item.firstName}}&nbsp;{{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.postcode}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.state}}</td>
                    <td>
                        <a href="#" @click="editItem" data-toggle="modal" data-target="#pageFormModal" > <span :id="item.userId" title="Edit item" class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li v-if="pagination.currentPage > 1">
                                    <a href="#" aria-label="Previous" @click="previousPage">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <template v-for="pageNum in pageNums">
                                    <li class="active" v-if="pageNum == pagination.currentPage"><a href="#">{{pageNum}}</a></li>
                                    <li v-else><a href="#" @click="queryCurrentPage">{{pageNum}}</a></li>
                                </template>

                                <li v-if="pagination.currentPage < pagination.totalPage">
                                    <a href="#" aria-label="Next" @click="nextPage">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Total">
                                        <span aria-hidden="true">Total: {{pagination.totalPage}}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="pageFormModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">User</h4>
                </div>
                    <div class="modal-body">

                        <input type="hidden" v-model="pageForm.userId" name="userId">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" v-model="pageForm.firstName" id="firstName" name="firstName"></input>
                        </div>

                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" v-model="pageForm.lastName" id="lastName" name="lastName"></input>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" v-model.trim="pageForm.email" id="email" name="email" maxlength="50">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" v-model.trim="pageForm.password" name="password" maxlength="30">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" v-model.trim="pageForm.phone" name="phone" maxlength="20">
                        </div>

                        <div class="form-group">
                            <label for="postcode">Postcode</label>
                            <input type="text" class="form-control" v-model.trim="pageForm.postcode" name="postcode" maxlength="30">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control" v-model.trim="pageForm.address" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" v-model="pageForm.role" name="role">
                                <option>USER</option>
                                <option>ADMIN</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" v-model="pageForm.state" name="state">
                                <option>Active</option>
                                <option>Pending</option>
                                <option>Shielded</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="saveItem" class="btn btn-primary">Save</button>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

</div>

<script src="/js/user-list.js"></script>