#set($layout="/admin/layout/layout-admin.vm")

<form action="/admin/users/edit" method="POST" class="form-horizontal" id="userForm">
    #if($error)
        <div style="text-align: center;color:red;padding: 5px;">${error}</div>
    #end

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="firstName" value="${user.firstName}" maxlength="50">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName" class="col-sm-3 control-label">Last name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="lastName" value="${user.lastName}" maxlength="50">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="email" value="${user.email}" maxlength="60">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="password" maxlength="20">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">Phone</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="phone" value="${user.phone}" maxlength="30">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="postcode" class="col-sm-3 control-label">Postcode</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="postcode" value="${user.postcode}" maxlength="20">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Address</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="address" value="${user.address}" maxlength="200">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="role" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-6">
                    <select class="form-control" id="role" name="role">
                        <option>USER</option>
                        <option>ADMIN</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="state" class="col-sm-3 control-label">State</label>
                <div class="col-sm-6">
                    <select class="form-control" id="state" name="state">
                        <option value="0">Active</option>
                        <option value="1">Verification pending</option>
                        <option value="2">Shielded</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

    <input type="hidden" name="id" value="${user.id}" />
</form>

<script type="text/javascript">
    $(function () {
        $('#role').val("${user.role}");
        $('#state').val("${user.enabled}");
    });

</script>