<div class="page-footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-logo">
                <a href="#" style="color:#ccc;padding:5px;">PhoneYou</a>
            </div>
            <div class="footer-right">

                <div style="float:left;width:100%">
                    <a href="/client/about-us">About Us</a><br>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="footer-bar-left">
                <a href="#" style="color:#ccc;padding:5px;">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="#" style="color:#ccc;padding:5px;padding-left:10px;">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="#" style="color:#ccc;padding:5px;padding-left:10px;">
                    <i class="fa fa-google-plus fa-2x"></i>
                </a>
            </div>
        </div>

    </div>
</div>
