<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PhoneYou</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                #if($isAuth)

                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/client/appointment-list">My Appointment</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-success" id="btnCart" href="/client/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </div>

                    #if($role == 'ADMIN')

                        <div class="form-group">
                            <a href="/admin/appointment-list/index" class="btn btn-info"><span class="glyphicon glyphicon-dashboard"></span></a>
                        </div>

                    #end
                    <div class="form-group">
                        <a class="btn btn-success" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
                    </div>


                #else
                    <a href="/client/login" class="btn btn-success active" role="button">Login</a>
                #end

            </div>

        </div>
    </div>
</nav>