body{
    font-family: 'Open Sans', sans-serif;
}
.page-footer{
    padding: 0 0 100px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
    background-color: #1e201d;
    color: #fff;
}

.footer-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    letter-spacing: 0;
}

.footer-logo{
    float: left;
    width: 40%;
}

.footer-right{
    float: right;
    width: 60%;
    line-height: 30px;
    text-align: center;
}

.footer-bar{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2em;
    letter-spacing: 0;
}

.footer-bar-left{
    float: left;
    width: 50%;
    padding-top: 45px;
    line-height: 30px;
    text-align: center;
}

.item-navigator{
    margin-top: 20px;
}

.item-info{
    width: 100%;
}

.item-image{
    float: left;
    width: 30%;
}

.item-detail{
    float: right;
    width: 70%;
    padding-left: 30px;
}

.item-description{
    clear: both;
}

.item-services{
    width: 100%;
    padding-top: 20px;
    border: 1px;
}

.tab-content>div{
    padding-top: 30px;
    padding-left: 30px;
}

ul li{
    font-size: larger;
}

/*信息提示页面*/
.promptMsgPage{
    margin-top: 100px;
    height: 350px;
    text-align: center;
}

.login{
    margin: 60px auto;
    height: 600px;
    width: 300px;
}

.login-content{
    padding-right: 20px;
    padding-bottom: 20px;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
}

.appointment-form{
    width: 150px;
}

.app-error{
    color: red;
}

.select-title{
    padding-top: 15px;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
}

.select-item{
    padding-bottom: 5px;
}

.item-name{
    color: #999;
    word-wrap: break-word;
    word-break: break-all;
}

.app-calendar th{
    padding:5px;
    text-align: center;
}
.app-calendar td{
    padding:5px;
    text-align: center;
}

.day:hover{
    background-color: #ff0000;
}

.day:focus {
    background-color: #00ff00;
}


.day:active {
    background-color: #000000;
}

.cart-input-form{
    text-align: center;
}

.cart-input-form select{
    width: 70px;
    height: 34px;
    border:1px solid #ccc;
}

.cart-input-form input{
    width: 70px;
    height: 34px;
    border-radius: 3px;
}

#cartForm .item-list{
    margin: 10px 0 30px;
    height: 400px;
    overflow: auto;
}

#cartForm .divider{
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.order-note{
    width: 30%;
    float: left;
}

.order-note .textareawrapper{
    padding: 10px;
    border: 1px solid #d9d9d2;
}

.order-note textarea{
    height: 100px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

#cartForm .total-area{
    width: 70%;
    float: right;
}
#cartForm .total-area .subtotal{
    margin: 0 0 40px;
}

#cartForm .total-area .checkout-col{
    float: right;
}

#cartForm .cart-item-quantity{
    width: 50px;
}

.checkout-button-papal img{
    height: 1.3em !important;
}


.checkout-page{
    margin-top: 20px;
    height: 800px;
    color: #898989;
}

.checkout-row-label{
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: larger;
    color: #1e201d;

}

.checkout-row-content{
    padding-left: 30px;
    font-size: large;
}

.checkout-form{
    width: 450px;
}

.order-summary .statistics{
    width: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: right;
}

.order-summary .statistics .list{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 5px;
    zoom: 1;
}

.order-summary .statistics span{
    width: 180px;
    margin-right: 20px;
    float: left;
    text-align: right;
}

.order-summary .statistics .price{
    color: #333;
    float: left;
    width: 100px;
    text-align: right;
    font-family: verdana;
}

.order-summary .statistics .to-be-payed{
    color: #e4393c;
    float: left;
    width: 100px;
    text-align: right;
    font-size: large;
    font-family: verdana;
}

.order-summary .statistics em {
    color: #e4393c;
}

.checkout-button{
    clear: right;
    text-align: right;
    margin-right: 20px;
}


/* 首页 */
.special-items{
    height: 600px;
}