<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        #if($orderActive)
            <li class="active"><a href="/admin/order-list">Order</a></li>
        #else
            <li><a href="/admin/order-list">Order</a></li>
        #end

        #if($itemActive)
            <li class="active"><a href="/admin/item-list">Item</a></li>
        #else
            <li><a href="/admin/item-list">Item</a></li>
        #end

        #if($itemCategoryActive)
            <li class="active"><a href="/admin/item-category">Item category</a></li>
        #else
            <li><a href="/admin/item-category">Item category</a></li>
        #end

    </ul>
    <ul class="nav nav-sidebar">
        #if($userActive)
            <li class="active"><a href="/admin/user-list">User</a></li>
        #else
            <li><a href="/admin/user-list">User</a></li>
        #end

        #if($discountActive)
            <li class="active"><a href="">Discount</a></li>
        #else
            <li><a href="">Discount</a></li>
        #end

    </ul>
    <ul class="nav nav-sidebar">
        #if($scheduleActive)
            <li class="active"><a href="/admin/calendar">Calendar</a></li>
        #else
            <li><a href="/admin/calendar">Schedule</a></li>
        #end

    </ul>
</div>